:root {
  --header-font-size: 36px;
  --description-font-size: 24px;
}

.documents-container {
  background-image: url("../../img/documents/document-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--open-sans);
  padding: 0 20px;
}

.documents-container__document,
.documents-container__document-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 635px;
}

.documents-container__document-2 {
  align-items: flex-start;
}

.documents-container__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.documents-container__list-item-1 {
  padding-top: 10vw;
}

.documents-container__list-item-2 {
  padding: 20vw 0 20vw 0;
}

.document-block__header,
.document-block__header-2 {
  text-transform: uppercase;
  font-size: var(--header-font-size);
  color: var(--medium-blue);
}

.document-block__header-2 {
  color: #fff;
}

.document-block__description,
.document-block__description-2 {
  font-size: var(--description-font-size);
  text-align: right;
  color: var(--medium-blue);
}

.document-block__description-2 {
  text-align: left;
  color: #fff;
}

.document-block__link,
.document-block__link-2 {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 34px;
  background-color: var(--medium-blue);
  border-radius: 20px;
  transition: transform 0.2s linear;
  transform: scale(1);
}

.document-block__link-2 {
  background-color: #fff;
  color: var(--light-blue);
}

.document-block__link:hover,
.document-block__link-2:hover {
  transform: scale(1.05);
}

@media (max-width: 1559px) and (min-width: 1152px) {
  :root {
    --header-font-size: 22px;
    --description-font-size: 18px;
  }

  .documents-container__list-item-1 {
    padding-top: 10vw;
  }

  .documents-container__list-item-2 {
    padding: 35vw 0 10vw 0;
  }

  .documents-container__document,
  .documents-container__document-2 {
    align-items: flex-start;
    gap: 20px;
    width: 500px;
  }

  .documents-container__document-2 {
    align-items: flex-end;
  }

  .document-block__description {
    text-align: left;
  }

  .document-block__description-2 {
    text-align: right;
  }
}

@media (max-width: 1151px) {
  :root {
    --header-font-size: 20px;
    --description-font-size: 16px;
  }

  .documents-container__list-item-1 {
    padding-top: 5vw;
  }

  .documents-container__list-item-2 {
    padding: 35vw 0 10vw 0;
  }

  .document-block__description {
    text-align: left;
  }

  .document-block__description-2 {
    text-align: right;
  }

  .documents-container__document,
  .documents-container__document-2 {
    align-items: flex-start;
    gap: 20px;
    width: 350px;
  }

  .documents-container__document-2 {
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .documents-container__document,
  .documents-container__document-2 {
    align-items: center;
    width: 300px;
    gap: 10px;
  }

  .documents-container__list-item-1 {
    padding-top: 0;
  }

  .documents-container__list-item-2 {
    padding: 50vw 0 10vw 0;
  }

  .document-block__description,
  .document-block__description-2 {
    text-align: left;
  }
}

@media (max-width: 640px) {
  .documents-container__list {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 20px 0;
  }

  .documents-container__list-item-2 {
    padding: 0;
  }

  .document-block__header-2,
  .document-block__description-2 {
    color: var(--medium-blue);
  }

  .document-block__link-2 {
    background-color: var(--medium-blue);
    color: #fff;
  }
}
