:root {
  --header-font-size: 36px;
  --description-font-size: 24px;
}

.documents-container {
  background-image: url("../../img/documents/document-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--open-sans);
  padding: 0 20px;
}

.documents-container__document,
.documents-container__document-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 635px;
}

.documents-container__document-2 {
  align-items: flex-start;
}

.documents-container__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.documents-container__list-item-1 {
  padding-top: 180px;
}

.documents-container__list-item-2 {
  padding: 569px 0 278px 0;
}

.document-block__header,
.document-block__header-2 {
  text-transform: uppercase;
  font-size: var(--header-font-size);
  color: var(--medium-blue);
}

.document-block__header-2 {
  color: #fff;
}

.document-block__description,
.document-block__description-2 {
  font-size: var(--description-font-size);
  text-align: right;
  color: var(--medium-blue);
}

.document-block__description-2 {
  text-align: left;
}

.document-block__description-2 {
  color: #fff;
}

.document-block__link,
.document-block__link-2 {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 34px;
  background-color: var(--medium-blue);
  border-radius: 20px;
  transition: transform 0.2s linear;
  transform: scale(1);
}

.document-block__link-2 {
  background-color: #fff;
  color: var(--light-blue);
}

.document-block__link:hover,
.document-block__link-2:hover {
  transform: scale(1.05);
}

@media (max-width: 1919px) and (min-width: 1600px) {
  .documents-container__list-item-2 {
    padding-top: 100px;
  }

  .documents-container__list-item-2 {
    padding: 487px 0 100px 0;
  }
}

@media (max-width: 1559px) and (min-width: 1152px) {
  :root {
    --header-font-size: 22px;
    --description-font-size: 18px;
  }

  .documents-container__list-item-2 {
    padding-top: 50px;
  }

  .documents-container__list-item-2 {
    padding: 487px 0 50px 0;
  }

  .documents-container__document {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: auto;
  }

  .document-block__description,
  .document-block__description-2 {
    text-align: left;
  }
}
