.documents-container {
  background-image: url("../../img/documents/document-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--open-sans);
}

.documents-container__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.documents-container__list-item {
  padding-top: 222px;
}

.documents-container__doc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
  width: 476px;
  color: var(--medium-blue);
}

.documents-container__doc-header {
  text-transform: uppercase;
  font-size: 36px;
}

.documents-container__doc-description {
  font-size: 24px;
  text-align: right;
}

.documents-container__doc-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 34px;
  background-color: var(--medium-blue);
  border-radius: 20px;
}
