.documents-container {
  background-image: url("../../img/documents/document-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--open-sans);
}

.documents-container__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.documents-container__list-item-1 {
  padding-top: 222px;
}

.documents-container__list-item-2 {
  padding: 569px 0 278px 0;
}

.document-block__header,
.document-block__header--white {
  text-transform: uppercase;
  font-size: 36px;
  color: var(--medium-blue);
}

.document-block__header--white {
  color: #fff;
}

.document-block__description,
.document-block__description--white {
  font-size: 24px;
  text-align: right;
  color: var(--medium-blue);
}

.document-block__description--white {
  color: #fff;
}

.document-block__link,
.document-block__link--white {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 34px;
  background-color: var(--medium-blue);
  border-radius: 20px;
  transition: transform 0.2s linear;
  transform: scale(1);
}

.document-block__link--white {
  background-color: #fff;
  color: var(--light-blue);
}

.document-block__link:hover,
.document-block__link--white:hover {
  transform: scale(1.05);
}
