.cabinet-activity-page {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabinet-activity-page__header {
  color: var(--medium-blue);
  font-weight: 600;
  font-size: 30px;
  margin: 0 0 60px 2vw;
  text-transform: uppercase;
  font-family: var(--open-sans);
  align-self: flex-start;
}

@media (max-width: 760px) {
  .cabinet-activity-page {
    width: auto;
  }

  .cabinet-activity-page__header {
    margin: 0 auto 60px;
  }
}
