.cabinet-activity-page {
  /*  padding: 10px 82px;*/
  width: 60vw;
  margin: 0 auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabinet-activity-page__header {
  color: var(--medium-blue);
  font-weight: 600;
  font-size: 30px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: var(--open-sans);
  align-self: flex-start;
}
