.login-wrapper {
  position: relative;
  padding: 20px 0 0 261px;
  font-family: var(--open-sans);
  display: flex;
  align-items: center;
}

.login-wrapper__form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-wrapper__form-header {
  text-transform: uppercase;
  color: var(--medium-blue);
  font-size: 30px;
  font-weight: 600;
}

.login-wrapper__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.login-wrapper__link-item {
  text-decoration: none;
  color: var(--medium-blue);
  font-size: 16px;
  transition: color 0.2s linear;
}

.login-wrapper__link-item:hover {
  color: var(--dark-blue);
}

.login-wrapper__submit {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  border: none;
  background-color: var(--light-blue);
  border-radius: 20px;
  align-self: flex-start;
  padding: 16px 13px;
  transition: background-color 0.2s linear;
}

.login-wrapper__submit:hover {
  background-color: var(--dark-blue);
}

.login-wrapper__bg {
  --width: 40vw;
  --height: calc(var(--width) * 1.044);
  /* Такой подход делает так, чтобы при изменении ширины блока
его высота изменялась пропорциональному ему
1.044 — это результат деления высоты картинки login-bg на её ширину
(три знака после запятой) А ширина блока зависит от ширины области
просмотра. За это отвечают единицы vw (от Vieport Width).
1 vw = 1 процент от ширины области просмотра.*/

  background-image: url("../../img/login/login-bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--width);
  height: var(--height);
  right: 122px;
  margin-top: -100px;
  margin-left: 160px;
}

@media (max-width: 960px) {
  .login-wrapper {
    padding: 80px 0;
  }

  .login-wrapper__form {
    width: 90vw;
    margin: 0 auto;
  }

  .login-wrapper__bg {
    display: none;
  }
}
