.contacts {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.contacts__baddge {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 65vw;
  background-image: url("../../img/contacts/contacts-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 112px center;
}

.contacts__photo {
  position: absolute;
  left: 43%;
  height: 257px;
}

.contacts__info {
  position: relative;
  background-color: #f00;
  color: #fff;
  padding: 40px 9px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  margin-left: auto;
  border-radius: 0 0 80px 0;
}

.contacts__status {
  font-size: 15px;
  font-weight: 600;
  width: 27vw;
}

.contacts__fullname {
  text-transform: uppercase;
  font-family: var(--open-sans);
  font-size: 25px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contacts__list-link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.contacts__list-link:hover {
  color: var(--light-blue);
}

.contacts__link-ico {
  width: 25px;
  height: 25px;
}

@media (max-width: 1366px) {
  .contacts__photo {
    position: absolute;
    left: 33%;
    height: 257px;
  }

  .contacts__baddge {
    background-position: 60px center;
  }

  .contacts__status {
    font-size: 13px;
  }

  .contacts__fullname {
    font-size: 22px;
  }
}

@media (max-width: 1151px) {
  .contacts__baddge {
    background-position: 0 center;
  }

  .contacts__photo {
    left: 27%;
  }

  .contacts__fullname {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  .contacts {
    padding: 30px 0;
  }

  .contacts__baddge {
    width: 90vw;
    padding-top: 200px;
  }

  .contacts__photo {
    left: 50%;
    transform: translateX(-50%);
    height: 255px;
    top: -55px;
  }

  .contacts__info {
    padding: 10px;
    border-radius: 0 30px 0 0;
    text-align: left;
    align-items: flex-start;
  }

  .contacts__status {
    width: auto;
    font-size: 16px;
  }

  .contacts__fullname {
    font-size: 20px;
  }

  .contacts__list-link {
    font-size: 20px;
  }

  .contacts__list-link {
    font-size: 20px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

/*@media (max-width: 1600px) and (min-width: 1366px) {
  .contacts__baddge {
    width: 1280px;
  }

  .contacts__photo {
    left: 244px;
    height: 595px;
  }

  .contacts {
    padding: 100px 0;
  }
}

@media (max-width: 1365px) and (min-width: 1180px) {
  .contacts__baddge {
    width: 1024px;
  }

  .contacts__photo {
    left: 370px;
    height: 340px;
  }

  .contacts {
    padding: 100px 0;
  }

  .contacts__info {
    padding: 70px 20px;
    border-radius: 0 0 100px 0;
  }

  .contacts__status {
    font-size: 14px;
    width: 360px;
  }

  .contacts__fullname {
    font-size: 24px;
  }

  .contacts__list-link {
    font-size: 20px;
  }

  .contacts__link-ico {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 1179px) and (min-width: 960px) {
  .contacts__baddge {
    width: 768px;
  }

  .contacts__photo {
    left: 225px;
    height: 250px;
  }

  .contacts {
    padding: 100px 0;
  }

  .contacts__info {
    padding: 35px 20px;
    border-radius: 0 0 75px 0;
    gap: 15px;
  }

  .contacts__status {
    font-size: 16px;
    width: 357px;
  }

  .contacts__fullname {
    text-transform: uppercase;
    font-family: var(--open-sans);
    font-size: 22px;
  }

  .contacts__list-link {
    font-size: 20px;
  }

  .contacts__link-ico {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 959px) and (min-width: 768px) {
  .contacts {
    padding: 30px 0;
  }

  .contacts__baddge {
    width: 680px;
  }

  .contacts__photo {
    left: 180px;
    height: 195px;
  }

  .contacts__status {
    font-size: 14px;
    width: 330px;
  }

  .contacts__fullname {
    text-transform: uppercase;
    font-family: var(--open-sans);
    font-size: 20px;
  }

  .contacts__list-link {
    font-size: 18px;
  }

  .contacts__info {
    padding: 10px 20px;
    border-radius: 0 0 50px 0;
    gap: 15px;
  }


}


*/
