.contacts {
  padding: 212px 0;
  display: flex;
  justify-content: center;
}

.contacts__baddge {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 1467px;
  background-image: url("../../img/contacts/contacts-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 center;
}

.contacts__photo {
  position: absolute;
  /*  bottom: 0;*/
  margin-right: auto;
  left: 418px;
  height: 580px;
}

.contacts__info {
  position: relative;
  background-color: #f00;
  color: #fff;
  padding: 140px 9px;
  text-align: right;
  width: 580px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  margin-left: auto;
  border-radius: 0 0 150px 0;
}

.contacts__status {
  font-size: 22px;
  font-weight: 600;
  width: 505px;
}

.contacts__fullname {
  text-transform: uppercase;
  font-family: var(--open-sans);
  font-size: 35px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contacts__list-link {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
  transition: color 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.contacts__list-link:hover {
  color: var(--light-blue);
}
