.albums-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.eee {
  display: none;
}

.albums-list__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 10vw;
}

.albums-list__cover {
  max-width: 100%;
}
