.activities {
  position: relative;
  padding: 50px 20px 20px 40vw;
  font-family: var(--open-sans);
}

.activities__shooter {
  position: absolute;
  background-image: url("../../../img/index/activities/shooter.webp");
  background-repeat: no-repeat;
  background-size: contain;
  --height: 50vw;
  --width: calc(var(--height) * 0.572);
  width: var(--width);
  height: var(--height);
  left: 0;
  bottom: -20px;
}

.activities__section-header {
  text-transform: uppercase;
  margin-top: 0;
  color: var(--medium-blue);
  font-size: 45px;
}

.activities__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;
}

.activities__list-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.activities__date {
  --width: 12vw;
  --height: calc(var(--width) * 0.606);
  width: var(--width);
  height: var(--height);
  position: relative;
  display: flex;
  align-items: center;
  text-indent: 0.5vw;
  background-image: url("../../../img/index/activities/date-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-weight: 600;
  color: #fff;
  font-size: 15px;
}

.activities__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.activities__header {
  text-transform: uppercase;
  color: var(--medium-blue);
  white-space: nowrap;
  width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
}

.activities__description {
  color: var(--dark-blue);
  font-size: 16px;
  font-family: var(--montserrat);
}

.activities__link {
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  align-self: flex-start;
  padding: 5px 8px;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.2s linear;
}

.activities__link:hover {
  background-color: var(--medium-blue);
}

.activities__link-to-all {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--medium-blue);
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  overflow: hidden;
}

.activities__link-to-all span {
  position: relative;
}

.activities__link-to-all:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #f00;
  transition: width 0.4s ease-out;
  transform: skewX(45deg);
}

.activities__link-to-all:hover:before {
  width: 110%;
}

@media (max-width: 1152px) {
  .activities {
    padding: 30px 0;
    overflow: hidden;
  }

  .activities__section-header {
    text-align: center;
    font-size: 35px;
  }

  .activities__list {
    width: 90vw;
    margin: 0 auto 30px;
    position: relative;
    z-index: 2;
  }

  .activities__shooter {
    left: 0;
    top: 10px;
    opacity: 0.3;
    --height: 80vh;
    --width: calc(var(--height) * 0.572);
  }

  .activities__list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #f1f1f1f0;
    border: 1px solid var(--medium-blue);
  }

  .activities__header {
    width: auto;
  }

  .activities__date {
    background: none;
    background-color: var(--light-blue);
    margin-bottom: -14px;

    width: auto;
    height: auto;
    padding: 5px 10px;
    border-radius: 20px;
    align-self: flex-start;
    display: flex;
    align-items: center;
    text-indent: 0;
    font-weight: 600;
    font-size: 15px;
  }

  .activities__link-to-all {
    margin: 0 auto;
  }
}
