.restore-wrapper {
  position: relative;
  padding: 20px 0 20px 261px;
  font-family: var(--open-sans);
  display: flex;
  align-items: center;
}

.restore-wrapper__form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restore-wrapper__form-header {
  text-transform: uppercase;
  color: var(--medium-blue);
  font-size: 20px;
  font-weight: 600;
}

.restore-wrapper__form-tip {
  color: var(--light-blue);
  font-size: 16px;
}

.restore-wrapper__link {
  color: var(--medium-blue);
  font-weight: 600;
  transition: color 0.2s linear;
  text-decoration: none;
}

.restore-wrapper__link:hover {
  color: var(--dark-blue);
}

.restore-wrapper__link-item {
  text-decoration: none;
  color: var(--medium-blue);
  font-size: 16px;
  transition: color 0.2s linear;
}

.restore-wrapper__link-item:hover {
  color: var(--dark-blue);
}

.restore-wrapper__submit {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  border: none;
  background-color: var(--light-blue);
  border-radius: 20px;
  align-self: flex-start;
  padding: 8px 13px;
  transition: background-color 0.2s linear;
  font-family: var(--open-sans);
  width: 50%;
}

.restore-wrapper__submit:hover {
  background-color: var(--dark-blue);
}

.restore-wrapper__bg {
  --width: 37vw;
  --height: calc(var(--width) * 0.912);
  /* Такой подход делает так, чтобы при изменении ширины блока
его высота изменялась пропорциональному ему
0.912 — это результат деления высоты картинки restore-bg на её ширину
(три знака после запятой) А ширина блока зависит от ширины области
просмотра. За это отвечают единицы vw (от Vieport Width).
1 vw = 1 процент от ширины области просмотра.*/

  background-image: url("../../img/restore-password/restore-bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--width);
  height: var(--height);
  margin-left: auto;
}

@media (max-width: 960px) {
  .restore-wrapper {
    padding: 80px 0;
  }

  .restore-wrapper__form {
    width: 90vw;
    margin: 0 auto;
  }

  .restore-wrapper__bg {
    display: none;
  }
}
