:root {
  --elements-per-row: 5;
  --list-padding-x: 15px;
  --elements-gap: 10px;
  --element-height: 80px;
  --elements-list-width: 800px;
  --element-width: calc(
    (
        var(--elements-list-width) - 2 * var(--list-padding-x) -
          var(--elements-gap) * (var(--elements-per-row) - 1)
      ) / var(--elements-per-row)
  );
}

.cabinet-gallery {
  padding: 30px;
  font-family: var(--open-sans);
}

.cabinet-gallery__header {
  color: var(--medium-blue);
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}

.cabinet-gallery__media-list {
  margin: 0 auto 20px;
  padding: var(--list-padding-x);
  gap: var(--elements-gap);
  background-color: #f1f1f1;
  list-style: none;
  width: var(--elements-list-width);
  display: grid;
  grid-template-columns: repeat(var(--elements-per-row), var(--element-width));
  border-radius: 20px;
  align-items: center;
  height: 300px;
  overflow: auto;
}

.cabinet-gallery__photo,
.cabinet-gallery__video {
  width: var(--element-width);
  height: var(--element-height);
  border-radius: 10px;
}

/*


.thumbnails-list__thumbnail {
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  border-radius: 10px;
}
*/
