:root {
  --elements-per-row: 5;
  --list-padding-x: 15px;
  --elements-gap: 10px;
  --element-height: 130px;
  --cabinet-menu-width: 280px;
  --elements-list-width: calc(90vw - var(--cabinet-menu-width));
  --element-width: calc(
    (
        var(--elements-list-width) - 2 * var(--list-padding-x) -
          var(--elements-gap) * (var(--elements-per-row) - 1)
      ) / var(--elements-per-row)
  );
}

.cabinet-gallery {
  padding: 30px;
  font-family: var(--open-sans);
}

.cabinet-gallery__header {
  color: var(--medium-blue);
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}

/**************************************************************/

.cabinet-gallery__filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 50%;
  margin: 0 0 30px 80px;
}

.cabinet-gallery__filter-radio {
  display: none;
}

.cabinet-gallery__list-item {
  flex-grow: 1;
  width: 125px;
}

.cabinet-gallery__option {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 7px 0;
  border: none;
  border: 3px solid var(--light-blue);
  background: none;
  font-family: var(--open-sans);
  font-size: 20px;
  background-color: var(--light-blue);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition:
    background-color 0.2s linear,
    border-color 0.2s linear;
}

.cabinet-gallery__filter-radio:checked + .cabinet-gallery__option {
  background-color: #fff;
  color: var(--light-blue);
  border-color: var(--light-blue);
  cursor: default;
}

.cabinet-gallery__option:hover {
  background-color: var(--medium-blue);
  border-color: var(--medium-blue);
}

/**************************************************************/

.elements-list {
  margin: 0 auto 20px;
  padding: var(--list-padding-x);
  gap: var(--elements-gap);
  background-color: #f1f1f1;
  list-style: none;
  width: var(--elements-list-width);
  display: grid;
  grid-template-columns: repeat(var(--elements-per-row), var(--element-width));
  border-radius: 20px;
  justify-content: center;
  max-height: 500px;
  overflow: auto;
}

.elements-list__element-container {
  width: var(--element-width);
  height: var(--element-height);
  overflow: hidden;
}

.elements-list__element {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

/*.cabinet-gallery__media-list {
  margin: 0 auto 20px;
  padding: var(--list-padding-x);
  gap: var(--elements-gap);
  background-color: var(--light-grey);
  list-style: none;
  width: var(--elements-list-width);
  display: grid;
  grid-template-columns: repeat(var(--elements-per-row), var(--element-width));
  border-radius: 20px;
  justify-content: center;
  max-height: 500px;
  overflow: auto;
}

.cabinet-gallery__link {
  width: var(--element-width);
  height: var(--element-height);
  overflow: hidden;
}

.cabinet-gallery__media-item {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

.cabinet-gallery__media-list-item:has(img):after,
.cabinet-gallery__media-list-item:has(video):after {
  content: "";
  position: absolute;
  background-image: url("../../../../../svg/photo-ico.svg");
  background-repeat: no-repeat;
  display: block;
  width: 27px;
  height: 27px;
  left: 3px;
  top: 3px;
}

.cabinet-gallery__media-list-item:has(video):after {
  background-image: url("../../../../../svg/video-ico.svg");
}

.cabinet-gallery__media-list-item:has(video):before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  border-radius: 20px;
}

.cabinet-gallery__element {
  width: var(--element-width);
  height: var(--element-height);
  border-radius: 10px;
  position: relative;
}

.cabinet-gallery__link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}

.cabinet-gallery__button-unlike {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 0;
  z-index: 3;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}

.cabinet-gallery__media-list-item:hover .cabinet-gallery__button-unlike {
  opacity: 1;
}

.cabinet-gallery__button-unlike .cabinet-gallery__cross-ico {
  width: 100%;
  height: 100%;
}*/

@media (max-width: 1152px) {
  :root {
    --elements-per-row: 4;
  }

  .cabinet-gallery__filter {
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 0 auto 30px;
  }

  .cabinet-gallery__list-item {
    width: auto;
  }

  .cabinet-gallery__option {
    width: auto;
  }
}

@media (max-width: 860px) {
  :root {
    --elements-per-row: 3;
    --elements-list-width: 90vw;
  }

  /*  .cabinet-gallery__button-unlike {
    opacity: 1;
  }*/

  .cabinet-gallery__header {
    text-align: center;
  }

  /*  .cabinet-gallery {
    padding: 30px 0;
  }*/
}

@media (max-width: 480px) {
  :root {
    --elements-per-row: 1;
  }
}
