:root {
  --triangle-size: 60px;
}

.current-news-section {
  background-image: url("../../img/news/current-news-bg.webp");
  background-size: cover;
  background-position: center 0;
  padding: 30px 0 50px;
  position: relative;
  font-family: var(--open-sans);
}

.news-block {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  /*  justify-content: space-between;*/
  /*  align-items: flex-end;*/
  /*  grid-template-columns: 100px 600px 1fr;*/
  gap: 10px;
}

.news-block__photo {
  /*  width: 100px;*/
  /*  max-width: 100%;*/
  height: 15vw;
  /*  margin-top: auto;*/
  /*  height: 100%;*/
}

.news-block__link-prev {
  width: 0;
  height: 0;
  border: var(--triangle-size) solid transparent;
  border-right-color: var(--light-blue);
  margin-top: auto;
}

.news-block__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /*  width: 400px;*/
}

.news-block__header {
  color: #f00;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}

.news-block__text {
  color: var(--medium-blue);
  font-size: 16px;
}

.current-news-date {
  position: absolute;
}

.news-block__footer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
}

.news-block__additional-text {
  background-color: var(--light-blue);
  width: 300px;
  padding: 40px 45px;
  border-radius: 50px 0 0 0;
}

.news-block__link-next {
  width: 0;
  height: 0;
  border: var(--triangle-size) solid transparent;
  border-left-color: var(--light-blue);
}
