.cabinet-activities {
  padding: 30px;
  font-family: var(--open-sans);
}

.cabinet-activities__header {
  color: var(--medium-blue);
  align-self: flex-start;
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}

.cabinet-activities__filter-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin-bottom: 20px;
}

.cabinet-activities__filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cabinet-activities__filter-radio {
  display: none;
}

.cabinet-activities__list-item {
  flex-grow: 1;
  width: 125px;
}

.cabinet-activities__option {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 7px 0;
  border: none;
  border: 3px solid var(--light-blue);
  background: none;
  font-family: var(--open-sans);
  font-size: 20px;
  background-color: var(--light-blue);
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition:
    background-color 0.2s linear,
    border-color 0.2s linear;
}

.cabinet-activities__filter-radio:checked + .cabinet-activities__option {
  background-color: #fff;
  color: var(--light-blue);
  border-color: var(--light-blue);
  cursor: default;
}

.cabinet-activities__option:hover {
  background-color: var(--medium-blue);
  border-color: var(--medium-blue);
}

.cabinet-activities__activity-status.approved {
  color: var(--status-approved-text);
  background-color: var(--status-approved-bg);
}

.cabinet-activities__activity-status.declined {
  color: var(--status-declined-text);
  background-color: var(--status-declined-bg);
}

.cabinet-activities__activity-status.pending {
  color: var(--status-pending-text);
  background-color: var(--status-pending-bg);
  font-size: 14px;
}

.cabinet-activities__activity-status.avaible {
  color: var(--status-avaible-text);
  background-color: var(--status-avaible-bg);
  transition:
    color 0.2s linear,
    background-color 0.2s linear;
}

.cabinet-activities__activity-status.avaible:hover {
  color: #fff;
  background-color: var(--medium-blue);
}

.cabinet-activities__tip {
  color: var(--medium-blue);
  font-weight: 600;
}

@media (max-width: 1152px) {
  .cabinet-activities__filter {
    flex-direction: column;
    gap: 10px;
  }

  .cabinet-activities__list-item {
    flex-grow: 1;
    width: auto;
  }

  .cabinet-activities__filter-block {
    width: 90%;
    margin: 0 auto 20px;
  }
}

@media (max-width: 580px) {
  .cabinet-activities__activity-status.pending {
    font-size: initial;
  }
}
