.media {
  background-image: url("../../../img/index/media/bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0;
  height: 57vw;
  display: flex;
  font-family: var(--open-sans);
  margin-bottom: 150px;
}

.media__link {
  position: relative;
  margin: 0 25px 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
}

.media__link span {
  position: relative;
}

.media__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: var(--medium-blue);
  transition: width 0.4s ease-out;
  transform: skewX(-45deg);
}

.media__link:hover:before {
  width: 150%;
}

@media (max-width: 1024px) {
  .media {
    display: flex;
    justify-content: center;
    align-items: center;
    /*    padding-top: 32vw;*/
  }

  .media__link {
    margin: 0 auto;
    height: auto;
    font-size: 40px;
    padding: 20px;
  }
}
