.media {
  background-image: url("../../../img/index/media/bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0;
  height: 900px;
  display: flex;
}

.media__link {
  position: relative;
  margin: 0 25px 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
}

.media__link span {
  position: relative;
}

.media__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: var(--medium-blue);
  transition: width 0.4s ease-out;
  transform: skewX(-45deg);
}

.media__link:hover:before {
  width: 150%;
}
