:root {
  --media-slider-content-height: 30vw;
}

.media {
  margin-bottom: 15vw;
}

.media__header {
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 30px;
}

.media__logo {
  --width: 160px;
  --height: calc(var(--width) * 0.495);
  background-size: contain;
  width: var(--width);
  max-width: 300px;
  height: var(--height);
  background-image: url("../../../img/index/media/media-logo.webp");
  background-repeat: no-repeat;
}

.media__link-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}

.media__link {
  position: relative;
  margin: 0 25px 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f00;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  overflow: hidden;
}

.media__link span {
  position: relative;
}

.media__link:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: var(--medium-blue);
  transition: width 0.4s ease-out;
  transform: skewX(-45deg);
}

.media__link:hover:before {
  width: 150%;
}

.media__blue-bar {
  height: 30px;
  background-color: var(--medium-blue);
  border-radius: 50px 0 0 50px;
  width: 45vw;
}

.media__slider {
  width: 95vw;
  height: var(--media-slider-content-height);
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
}

.media__image-bg {
  position: absolute;
  background-size: cover;
  background-repeat: repeat;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  filter: blur(50px);
}

.media__slide-item {
  cursor: grab;
}

.media__slide-item:active {
  cursor: grabbing;
}

.media__slide-item-picture {
  position: relative;
  max-width: 100%;
  height: var(--media-slider-content-height);
  border-radius: 20px;
}

.media .swiper-button-prev,
.media .swiper-button-next {
  --diameter: 40px;
  width: var(--diameter);
  height: var(--diameter);
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.2s linear;
  opacity: 0.6;
}

.media .swiper-button-prev:hover,
.media .swiper-button-next:hover {
  background-color: var(--light-grey);
}

.media .swiper-button-prev:after,
.media .swiper-button-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 37px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../svg/arrow.svg");
  background-repeat: no-repeat;
}

.media .swiper-button-next:after {
  transform: translate(-50%, -50%) rotateZ(180deg);
}

@media (max-width: 1280px) {
  :root {
    --media-slider-content-height: 50vw;
  }
}

@media (max-width: 960px) {
  :root {
    --media-slider-content-height: 70vw;
  }
}

@media (max-width: 640px) {
  .media__logo {
    display: none;
  }

  .media__blue-bar {
    width: 90vw;
  }
}
