:root {
  --link-font-size: 18px;
}

.albums-list {
  margin: 0 auto 30px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 87vw;
}

.albums-list__item {
  display: flex;
  flex-direction: column;
  width: 20vw;
  align-items: center;
  justify-content: space-between;
}

.albums-list__cover {
  max-width: 100%;
}

.albums-list__link {
  --height: 6vw;
  --width: calc(var(--height) * 2.769);
  font-size: var(--link-font-size);
  width: var(--width);
  height: var(--height);
  background-image: url("../../../img/gallery/album-link-bg-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.2s ease-in;
  font-family: var(--open-sans);
}

.albums-list__item:hover .albums-list__link {
  transform: scale(1.05);
}

.albums-list__link.link-2 {
  background-image: url("../../../img/gallery/album-link-bg-2.webp");
  --height: 5vw;
  --width: calc(var(--height) * 4.089);
}

.albums-list__link.link-3 {
  background-image: url("../../../img/gallery/album-link-bg-3.webp");
  --height: 7vw;
  --width: calc(var(--height) * 2.457);
}

@media (max-width: 1024px) {
  :root {
    --link-font-size: 24px;
  }

  .gallery-navigator-mb {
    margin-bottom: 20px;
  }

  .albums-list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .albums-list__item {
    width: 90vw;
  }

  .albums-list__link {
    --height: 168px;
  }

  .albums-list__link.link-2 {
    --height: 168px;
  }

  .albums-list__link.link-3 {
    --height: 168px;
  }
}

@media (max-width: 760px) {
  :root {
    --link-font-size: 22px;
  }

  .albums-list__link {
    --height: 25vw;
  }

  .albums-list__link.link-2 {
    --height: 20vw;
  }

  .albums-list__link.link-3 {
    --height: 28vw;
  }
}
