.document-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
  width: 476px;
  color: var(--medium-blue);
}

.document-block__header {
  text-transform: uppercase;
  font-size: 36px;
}

.document-block__description {
  font-size: 24px;
  text-align: right;
}

.document-block__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 34px;
  background-color: var(--medium-blue);
  border-radius: 20px;
  transition: transform 0.2s linear;
  transform: scale(1);
}

.document-block__link:hover {
  transform: scale(1.05);
}
