:root {
  --partner-item-radius: 100px;
  --partners-items-gap: 30px;
}

.our-partners {
  padding-bottom: 30px;
  font-family: var(--open-sans);
}

.our-partners__header {
  color: #f00;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.our-partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--partners-items-gap);
}

.our-partners__list-item {
  background-color: #f00;
  height: 125px;
  padding: 35px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.our-partners__img {
  width: 75px;
}

.our-partners__list-item:nth-child(1) {
  border-radius: 0 var(--partner-item-radius) 0 0;
  position: relative;
}

.our-partners__list-item:nth-child(1):after {
  content: "";
  position: absolute;
  background-color: #f00;
  border-radius: var(--partner-item-radius) 0 0 var(--partner-item-radius);
  display: block;
  height: var(--partners-items-gap);
  width: 20px;
  right: 0;
  bottom: calc(-1 * var(--partners-items-gap));
}

.our-partners__list-item:nth-child(2) {
  border-radius: 0 var(--partner-item-radius) var(--partner-item-radius)
    var(--partner-item-radius);
}

.our-partners__list-item:nth-child(3),
.our-partners__list-item:nth-child(5) {
  border-radius: var(--partner-item-radius) 0 0 0;
}

.our-partners__list-item:nth-child(4) {
  border-radius: 0 0 var(--partner-item-radius) 0;
}

.our-partners__list-item:nth-child(6) {
  border-radius: 0 0 0 var(--partner-item-radius);
}

.our-partners__partner-name {
  font-size: 18px;
  font-weight: 800;
}

@media (max-width: 1152px) {
  :root {
    --partner-item-radius: 50px;
  }

  .our-partners__list-item:nth-child(1):after {
    content: none;
  }

  .our-partners__list {
    display: flex;
    flex-direction: column;
  }

  .our-partners__list-item {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .our-partners__list-item:nth-child(-n + 6) {
    border-radius: 0;
  }

  .our-partners__list-item:first-child {
    border-radius: var(--partner-item-radius) var(--partner-item-radius) 0 0;
  }

  .our-partners__list-item:last-child {
    border-radius: 0 0 var(--partner-item-radius) var(--partner-item-radius);
  }
}
