:root {
  --rad: 30px;
}

.our-partners {
  padding-bottom: 30px;
  font-family: var(--open-sans);
}

.our-partners__header {
  color: #f00;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}

.our-partners__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.our-partners__list-item {
  background-color: #f00;
  height: 125px;
  padding: 35px 15px;
  display: flex;
  /*  grid-template-columns: 161px 1fr;*/
  gap: 15px;
  align-items: center;
}

.our-partners__img {
  width: 75px;
}

.our-partners__list-item:nth-child(1) {
  border-radius: 0 var(--rad) 0 0;
}

.our-partners__list-item:nth-child(2) {
  border-radius: var(--rad) var(--rad) 0 0;
}

.our-partners__list-item:nth-child(3) {
  border-radius: var(--rad) 0 0 0;
}

.our-partners__list-item:nth-child(4) {
  border-radius: 0 0 var(--rad) 0;
}

.our-partners__list-item:nth-child(5) {
  border-radius: 0 0 var(--rad) var(--rad);
}

.our-partners__list-item:nth-child(6) {
  border-radius: 0 0 0 var(--rad);
}

.our-partners__partner-name {
  font-size: 18px;
  font-weight: 800;
}

@media (max-width: 1152px) {
  :root {
    --rad: 50px;
  }

  .our-partners__list {
    display: flex;
    flex-direction: column;
  }

  .our-partners__list-item {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .our-partners__list-item:nth-child(-n + 6) {
    border-radius: 0;
  }

  .our-partners__list-item:first-child {
    border-radius: var(--rad) var(--rad) 0 0;
  }

  .our-partners__list-item:last-child {
    border-radius: 0 0 var(--rad) var(--rad);
  }
}
