body:has(div.confirm-popup-overlay.open) {
  overflow: hidden;
}

.confirm-popup-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.confirm-popup {
  width: 40vw;
  background-color: #fff;
  font-family: var(--open-sans);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 30px;
  border: 5px solid var(--light-blue);
  position: relative;
}

.confirm-popup:before {
  --width: 160px;
  --height: calc(var(--width) * 0.951);
  content: "";
  position: absolute;
  top: 74px;
  right: 0;
  pointer-events: none;
  width: var(--width);
  height: var(--height);
  background-image: url("./bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
}

.confirm-popup__button-close {
  align-self: flex-end;
  cursor: pointer;
  background: none;
  border: none;
}

.confirm-popup__button-close path {
  transition: stroke 0.2s linear;
}

.confirm-popup__button-close:hover path {
  stroke: var(--dark-blue);
}

.confirm-popup__text {
  color: var(--medium-blue);
  font-size: 20px;
  margin-bottom: 100px;
}

.confirm-popup__buttons {
  display: flex;
  gap: 20px;
}

.confirm-popup__buttons button {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  background-color: var(--light-blue);
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--open-sans);
  font-size: 16px;
  transition: background-color 0.2s linear;
  text-transform: uppercase;
  font-weight: 600;
}

.confirm-popup__buttons button:hover {
  background-color: var(--dark-blue);
}

@media (max-width: 760px) {
  .confirm-popup {
    width: 90vw;
  }

  .confirm-popup__buttons {
    flex-direction: column;
    align-items: center;
  }

  .confirm-popup__buttons button {
    width: 50%;
  }
}
