.registration {
  background-image: url("../../img/registration/registration-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding: 150px 0;
}

.registration__form {
  width: 70vw;
  margin: 0 auto;
  font-family: var(--open-sans);
  color: var(--medium-blue);
  display: flex;
  flex-direction: column;
}

.registration__additional-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.registration__personal-data {
  width: 235px;
}

.registration__link-to-login-start,
.registration__link-to-login-end {
  text-decoration: none;
  color: var(--medium-blue);
  font-size: 16px;
  transition: color 0.2s linear;
}

.registration__link-to-login-start {
  margin-bottom: 15px;
  display: none;
}

.registration__link-to-login:hover {
  color: var(--dark-blue);
}

.registration__form-header {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

.registration__error {
  background-color: #fff0f0;
  border-left: 4px solid #ff3333;
  color: #d32f2f;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0 4px 4px 0;
  line-height: 1.6;
}

.registration__error br {
  display: block;
  content: "";
  margin: 8px 0;
}

.registration__fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.registration__submit-form {
  display: block;
  margin-left: auto;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  border: none;
  background-color: var(--light-blue);
  border-radius: 20px;
  align-self: flex-start;
  padding: 8px 13px;
  transition:
    background-color 0.2s linear,
    filter 0.2s linear;
  font-family: var(--open-sans);
  width: 25%;
  filter: grayscale(0);
}

.registration__submit-form:disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.registration__submit-form:not(:disabled):hover {
  background-color: var(--dark-blue);
}

@media (max-width: 960px) {
  .registration {
    padding: 80px 0;
  }

  .registration__fields {
    display: flex;
    flex-direction: column;
  }
  .registration__additional-panel {
    order: 10;
  }

  .registration__link-to-login-start {
    display: inline;
  }

  .registration__link-to-login-end {
    display: none;
  }

  .registration__personal-data {
    width: 75%;
  }

  .registration__form {
    width: 90vw;
  }

  .name {
    order: 1;
  }

  .surname {
    order: 2;
  }

  .country {
    order: 3;
  }

  .city {
    order: 4;
  }

  .birthdate {
    order: 5;
  }

  .email {
    order: 6;
  }
  .phone {
    order: 7;
  }

  .password {
    order: 8;
  }

  .passwordconfirm {
    order: 9;
  }

  .registration__submit-form {
    margin: 0 auto;
    width: 75%;
  }
}

@media (max-width: 480px) {
  .registration__link-to-login {
    display: none;
  }
}
