:root {
  --promo-button-triangle-size: 26px;
}

.hero {
  background-image: url("../../../img/index/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -76px;
  padding-top: 43vw;
}

.hero__button-watch-promo {
  display: block;
  width: 85vw;
  text-align: left;
  position: relative;
  right: 0;
  background-color: #f00;
  margin-left: auto;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-family: var(--open-sans);
  transition: background-color 0.2s linear;
  font-size: 20px;
  height: calc(var(--promo-button-triangle-size) * 2);
  border: none;
  cursor: pointer;
}

.hero__button-watch-promo:hover {
  background-color: var(--medium-blue);
}

.hero__button-watch-promo:after {
  content: "";
  position: absolute;
  top: 0;
  left: -52px;
  display: block;
  width: 0;
  height: 0;
  border: var(--promo-button-triangle-size) solid transparent;
  border-bottom-color: #f00;
  border-right-color: #f00;
  transition:
    border-bottom-color 0.2s linear,
    border-right-color 0.2s linear;
}

.hero__button-watch-promo:hover:after {
  border-bottom-color: var(--medium-blue);
  border-right-color: var(--medium-blue);
}

@media (max-width: 1252px) {
  .hero {
    background-position: center -59px;
    padding-top: 43vw;
  }
}

@media (max-width: 720px) {
  .hero {
    background-position: center -37px;
    padding-top: 43vw;
  }
}

@media (max-width: 460px) {
  :root {
    --promo-button-triangle-size: 17px;
  }

  .hero {
    background-position: center -23px;
    padding-top: 43vw;
  }

  .hero__button-watch-promo:after {
    top: 0;
    left: -34px;
  }
}
