:root {
  --triangle-size: 26px;
}

.hero {
  background-image: url("../../../img/index/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -76px;
  padding-top: 43vw;
}

.hero__link {
  position: relative;
  display: block;
  background-color: #f00;
  margin-left: 150px;
  padding: 15px 0 15px 25px;
  text-decoration: none;
  color: #fff;
  font-family: var(--open-sans);
}

.hero__link:after {
  content: "";
  position: absolute;
  top: 0;
  left: -52px;
  display: block;
  width: 0;
  height: 0;
  border: var(--triangle-size) solid transparent;
  border-bottom-color: #f00;
  border-right-color: #f00;
  transition:
    border-bottom-color 0.2s linear,
    border-right-color 0.2s linear;
}

.hero__link:hover:after {
  border-bottom-color: var(--medium-blue);
  border-right-color: var(--medium-blue);
}

.hero__link:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background-color: var(--medium-blue);
  top: 0;
  left: 0;
  z-index: 0;
  transition: width 0.5s ease-in 0.2s;
}

.hero__link:hover:before {
  width: 100%;
}

.hero__link span {
  position: relative;
  z-index: 1;
}

@media (max-width: 1252px) {
  .hero {
    background-position: center -59px;
    padding-top: 43vw;
  }
}

@media (max-width: 720px) {
  .hero {
    background-position: center -37px;
    padding-top: 43vw;
  }
}

@media (max-width: 460px) {
  :root {
    --triangle-size: 17px;
  }

  .hero {
    background-position: center -23px;
    padding-top: 43vw;
  }

  .hero__link {
    padding: 6px 0 6px 25px;
    margin-left: 150px;
  }

  .hero__link:after {
    top: 0;
    left: -34px;
  }
}
