.years-spinner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.years-spinner__prev,
.years-spinner__next {
  border: none;
  padding: 0;
  font-family: var(--open-sans);
  background: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
  color: inherit;
  transition: opacity 0.2s linear;
}

.years-spinner__prev:hover,
.years-spinner__next:hover {
  opacity: 1;
}

.years-spinner__current {
  font-size: 30px;
}
