.index-cabinet {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
}

.index-cabinet__bugrer-button-menu-container {
  display: none;
}

.cabinet-menu {
  background-color: var(--light-blue);
  font-family: var(--open-sans);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

.cabinet-menu__button-close {
  display: none;
}

.cabinet-menu__user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 80px;
}

.cabinet-menu__user-pic {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.cabinet-menu__user-name {
  font-size: 22px;
  font-weight: bold;
}

.cabinet-menu__nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.cabinet-menu__list-item:nth-child(2) {
  margin-bottom: 150px;
}

.cabinet-menu__link,
.cabinet-menu__active-item,
.cabinet-menu__button-logout {
  position: relative;
  background-color: #fff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--medium-blue);
  font-size: 18px;
  padding: 10px 0 10px 30px;
  width: 200px;
  border-radius: 30px 0 0 30px;
  font-weight: 600;
}

.cabinet-menu__link,
.cabinet-menu__button-logout {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s linear;
}

.cabinet-menu__button-logout {
  text-align: left;
  border: none;
  padding-left: 0;
  font-family: var(--open-sans);
}

.cabinet-menu__link:hover,
.cabinet-menu__button-logout:hover {
  color: var(--dark-blue);
}

.cabinet-menu__active-item:after {
  content: "";
  position: absolute;
  display: block;
  top: -10px;
  bottom: -10px;
  right: 0;
  width: 20px;
  background-color: #fff;
  border-radius: 30px 0 0 30px;
}

@media (max-width: 860px) {
  body:has(aside.cabinet-menu.opened) {
    overflow: hidden;
  }

  .index-cabinet {
    display: flex;
    flex-direction: column;
  }

  .index-cabinet__bugrer-button-menu-container {
    display: block;
    background-color: var(--light-blue);
    padding: 5px 18px;
    margin-bottom: 30px;
  }

  .index-cabinet__bugrer-button {
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 10px;
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 7px 7px;
  }

  .index-cabinet__bugrer-button i {
    height: 5px;
    background-color: #fff;
    border-radius: 20px;
  }

  .cabinet-menu {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    padding: 30px 0;
    overflow: auto;
  }

  .cabinet-menu.opened {
    opacity: 1;
    pointer-events: auto;
  }

  .cabinet-menu__button-close {
    display: block;
    align-self: flex-end;
    background: none;
    border: none;
    margin-right: 30px;
  }

  .cabinet-menu__button-close path {
    stroke: #fff;
  }
}
