:root {
  --content-height: 30vw;
}

.gallery-slider {
  width: 95vw;
  height: var(--content-height);
  margin-bottom: 30px;
  text-align: center;
  /*  background-color: #bebebe;*/
  border-radius: 20px;
  /*  overflow: hidden;*/
}

.gallery-slider__slide {
  position: relative;
  overflow: hidden;
}

.gallery-slider__blured-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform: scale(2);
  filter: blur(25px);
  z-index: 1;
}

.gallery-slider__picture {
  position: relative;
  max-width: 100%;
  height: var(--content-height);
  border-radius: 20px;
  z-index: 2;
}

.gallery-slider__panel {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 147px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 5px;
  z-index: 3;
}

.gallery-slider__button-like,
.gallery-slider__button-close {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
