.current-news-section {
  background-image: url("../../img/news/current-news-bg.webp");
  background-size: cover;
  background-position: center 0;
  padding: 8vw 0 10vw;
  position: relative;
  font-family: var(--open-sans);
}

.news-block {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  gap: 15px;
}

.news-block__photo {
  height: 23vw;
}

.news-block__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.news-block__header {
  color: #f00;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 13px;
}

.news-block__text {
  color: var(--medium-blue);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 5vw;
}

.news-block__text p {
  margin: 0;
}

.news-block__footer {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.news-block__additional-text {
  background-color: var(--light-blue);
  padding: 0 20px;
  flex-grow: 1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px 0 0 0;
  position: relative;
  right: 70px;
}

.news-block__link-prev {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-right-color: var(--light-blue);
  position: absolute;
  right: 81vw;
  transition: border-right-color 0.2s ease-in;
  font-size: 0;
  color: #fff;
  text-decoration: none;
}

.news-block__link-prev:hover {
  border-right-color: #f00;
}

.news-block__link-next {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-left-color: var(--light-blue);
  position: relative;
  right: 60px;
  transition: border-left-color 0.2s ease-in;
  font-size: 0;
  color: #fff;
  text-decoration: none;
}

.news-block__link-next:hover {
  border-left-color: #f00;
}

.current-news-date {
  position: absolute;
  display: block;
  --width: 242px;
  --height: calc(var(--width) * 0.729);
  width: var(--width);
  height: var(--height);
  background-image: url("../../img/news/date-bg.webp");
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: 6vw;
}

.current-news-date span {
  position: absolute;
  left: 139px;
  top: 45px;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

@media (max-width: 1252px) {
  .news-block__text {
    margin-bottom: 2vw;
  }
}

@media (max-width: 1024px) {
  .news-block__footer {
    left: -29vw;
    bottom: 6vw;
  }

  .news-block__link-prev {
    right: calc(46vw - 1px);
  }

  .news-block__additional-text {
    height: auto;
    border-radius: 0;
  }
}

@media (max-width: 960px) {
  .news-block__footer {
    left: -29vw;
    bottom: 11vw;
  }
}

@media (max-width: 900px) {
  .news-block {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 93px 0 1vw;
  }

  .news-block__photo {
    height: auto;
    width: 70%;
  }

  .news-block__footer {
    width: auto;
    margin: 0 auto;
    position: static;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .news-block__link-prev,
  .news-block__link-next {
    position: static;
    width: 0;
    height: 0;
    border: 8vw solid transparent;
    border-right-color: var(--light-blue);
    font-size: 0;
    color: #fff;
    text-decoration: none;
  }

  .news-block__link-next {
    border-right-color: transparent;
    border-left-color: var(--light-blue);
  }

  .news-block__additional-text {
    position: static;
    height: 200px;
  }

  .current-news-section {
    padding-bottom: 50vw;
  }

  .current-news-date {
    --width: 27vw;
    top: 0;
  }

  .current-news-date span {
    left: 9vw;
    top: 4vw;
    font-size: 18px;
  }
}
