:root {
  --thumbnails-per-row: 6;
  --list-padding-x: 15px;
  --thumbnails-gap: 10px;
  --thumbnail-height: 130px;
  --thumbnails-list-width: 90vw;
  --thumbnail-width: calc(
    (
        var(--thumbnails-list-width) - 2 * var(--list-padding-x) -
          var(--thumbnails-gap) * (var(--thumbnails-per-row) - 1)
      ) / var(--thumbnails-per-row)
  );
}

.back-to-albums-link {
  position: relative;
  display: flex;
  font-size: 20px;
  background-color: #fff;
  color: var(--medium-blue);
  border: 3px solid var(--light-blue);
  width: 20vw;
  height: 60px;
  border-radius: 20px;
  margin: -3vw 0 20px 1vw;
  padding: 0 20px;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  transition:
    background-color 0.2s linear,
    color 0.2s linear;
  font-family: var(--open-sans);
}

.back-to-albums-link__arrow {
  position: relative;
  left: 0px;
  transition: left 0.3s ease-out;
}

.back-to-albums-link:hover {
  background-color: var(--medium-blue);
  color: #fff;
}

.back-to-albums-link:hover path {
  fill: #fff;
}

.back-to-albums-link:hover .back-to-albums-link__arrow {
  fill: #fff;
  left: -5px;
}

.thumbnails-list {
  margin: 0 auto 20px;
  padding: var(--list-padding-x);
  gap: var(--thumbnails-gap);
  background-color: #f1f1f1;
  list-style: none;
  width: var(--thumbnails-list-width);
  display: grid;
  grid-template-columns: repeat(
    var(--thumbnails-per-row),
    var(--thumbnail-width)
  );
  border-radius: 20px;
  justify-content: center;
  max-height: 500px;
  overflow: auto;
}

.thumbnails-list__thumbnail-container {
  width: var(--thumbnail-width);
  height: var(--thumbnail-height);
  overflow: hidden;
}

.thumbnails-list__thumbnail {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  :root {
    --thumbnails-per-row: 4;
  }

  .back-to-albums-link {
    margin-top: 0;
    width: 40vw;
  }
}

@media (max-width: 640px) {
  :root {
    --thumbnails-per-row: 2;
  }

  .back-to-albums-link {
    width: 80vw;
    margin: 0 auto 20px;
  }

  .thumbnails-list {
    margin: 0 auto;
  }
}

@media (max-width: 460px) {
  :root {
    --thumbnails-per-row: 1;
  }
}
