.my-profile {
  padding: 30px;
  font-family: var(--open-sans);
}

.my-profile__header {
  color: var(--medium-blue);
  font-weight: 600;
  font-size: 30px;
  margin-top: 0;
  text-transform: uppercase;
}

.my-profile__colums {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}

.my-profile__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*  width: 700px;*/
  flex-grow: 1;
}

.my-profile__photo-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my-profile__photo-caption {
  color: var(--medium-blue);
  font-weight: 600;
  margin-top: -30px;
}

.my-profile__photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.my-profile__button-load-photo,
.my-profile__button-submit,
.my-profile__button-remove-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--light-blue);
  height: 40px;
  font-family: var(--open-sans);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.my-profile__button-load-photo:hover,
.my-profile__button-submit:hover,
.my-profile__button-remove-photo:hover {
  background-color: var(--medium-blue);
}

.my-profile__button-submit {
  width: 25%;
}

@media (max-width: 860px) {
  .my-profile__colums {
    flex-direction: column-reverse;
  }

  .my-profile__photo-loader {
    align-items: center;
  }

  .my-profile__button-load-photo {
    width: 250px;
  }

  .my-profile__photo-caption {
    margin-top: 0;
  }

  .my-profile__button-submit {
    margin: 0 auto;
    width: 250px;
  }
}
