.news {
  background-image: url("../../img/news/news-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -115px;
  padding: 15px 10vw 150px;
  font-family: var(--open-sans);
}

.news__slider {
  width: 80vw;
  margin-left: 20px;
}

.news__section-header {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.custom-navigation {
  position: relative;
  z-index: 2;
}

.custom-prev,
.custom-next {
  padding: 10px;
  background-color: var(--medium-blue);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s linear;
  position: absolute;
  bottom: 163px;
}

.custom-prev {
  left: -42px;
}

.custom-next {
  right: -29px;
}

.custom-prev:not(.swiper-button-disabled):hover,
.custom-next:not(.swiper-button-disabled):hover {
  background-color: var(--dark-blue);
}

.custom-prev .arrow path,
.custom-next .arrow path {
  fill: #fff;
}

.custom-next .arrow {
  transform: rotateZ(180deg);
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}

.news__news-card {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 20vw;
}

.news__card-header {
  color: #f00;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.news__card-image {
  max-width: 100%;
  height: 11vw;
}

.news__card-date {
  color: #f00;
  font-size: 20px;
  font-weight: bold;
}

.news__card-announce {
  font-family: var(--montserrat);
  text-align: center;
  color: var(--medium-blue);
  font-size: 14px;
  width: auto;
  height: 82px;

  /*Эти строки нужны для того, чтобы текст не превышал двух строк,
  а в случае превышения текст обрывался и в конце ставилось многоточие*/
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.news__card-link {
  background-color: #f00;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: background-color 0.2s linear;
}

.news__news-link:hover {
  background-color: var(--medium-blue);
}
