:root {
  --content-height: 30vw;
}

.gallery-slider {
  width: 95vw;
  height: var(--content-height);
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
}

.favorites__gallery-navigator-mb {
  margin-bottom: 30px;
}

.gallery-slider__slide {
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.gallery-slider__slide:active {
  cursor: grabbing;
}

.gallery-slider__image-bg,
.gallery-slider__video-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.gallery-slider__image-bg {
  transform: scale(4);
  filter: blur(25px);
}

.gallery-slider__video-bg {
  background-color: #000;
}

.gallery-slider__picture,
.gallery-slider__video {
  position: relative;
  max-width: 100%;
  height: var(--content-height);
  border-radius: 20px;
  z-index: 2;
}

.gallery-slider__panel {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 147px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 5px;
  z-index: 3;
  cursor: default;
}

.gallery-slider__button-like,
.gallery-slider__button-close {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transform: scale(1);
}

.gallery-slider__button-like:hover,
.gallery-slider__button-close:hover {
  transform: scale(1.1);
}

.gallery-slider__button-like .heart-liked path {
  fill: var(--dark-blue);
  stroke: var(--dark-blue);
}

@media (max-width: 1280px) {
  :root {
    --content-height: 50vw;
  }
}

@media (max-width: 960px) {
  :root {
    --content-height: 70vw;
  }
}
