:root {
  --content-height: 30vw;
}

.gallery-page-wrapper {
  width: 95vw;
  margin: 0 auto 30px;
}

.gallery-slider {
  height: var(--content-height);
  text-align: center;
  border-radius: 20px;
}

.favorites__gallery-navigator-mb {
  margin-bottom: 30px;
}

.gallery-slider__slide {
  position: relative;
  overflow: hidden;
  cursor: grab;
}

.gallery-slider__slide:active {
  cursor: grabbing;
}

.gallery-slider__image-bg,
.gallery-slider__video-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.gallery-slider__image-bg {
  transform: scale(4);
  filter: blur(25px);
}

.gallery-slider__video-bg {
  background-color: #000;
}

.gallery-slider__picture,
.gallery-slider__video {
  position: relative;
  max-width: 100%;
  height: var(--content-height);
  border-radius: 20px;
  z-index: 2;
}

.gallery-slider__panel {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: space-around;
  width: 147px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 5px;
  z-index: 3;
  cursor: default;
}

.gallery-slider__button-like,
.gallery-slider__button-close {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  transform: scale(1);
}

.gallery-slider__button-like:hover,
.gallery-slider__button-close:hover {
  transform: scale(1.1);
}

.gallery-slider__button-like .heart-liked path {
  fill: var(--dark-blue);
  stroke: var(--dark-blue);
}

.gallery-slider .swiper-button-prev,
.gallery-slider .swiper-button-next {
  --diameter: 40px;
  width: var(--diameter);
  height: var(--diameter);
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 0.2s linear;
  opacity: 0.6;
  padding: 15px;
}

.gallery-slider .swiper-button-prev:hover,
.gallery-slider .swiper-button-next:hover {
  background-color: var(--light-grey);
}

.gallery-slider .swiper-button-prev:after,
.gallery-slider .swiper-button-next:after {
  content: "";
  position: absolute;
  display: block;
  width: 37px;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../svg/arrow.svg");
  background-repeat: no-repeat;
}

.gallery-slider .swiper-button-next:after {
  transform: translate(-50%, -50%) rotateZ(180deg);
}

@media (max-width: 1280px) {
  :root {
    --content-height: 50vw;
  }
}

@media (max-width: 960px) {
  :root {
    --content-height: 70vw;
  }

  .gallery-slider .swiper-button-prev,
  .gallery-slider .swiper-button-next {
    --diameter: 20px;
  }
}
