body:has(nav.header__nav.opened) {
  overflow: hidden;
}

.header {
  padding: 3px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-container {
  width: 55px;
  height: 55px;
}

.header__logo {
  width: 100%;
}

.header__nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link,
.header__nav-current {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 16px;
  transition: color 0.3s linear;
  font-weight: 500;
}

.header__nav-current {
  background-color: var(--dark-blue);
  cursor: default;
  border-radius: 20px;
  color: #fff;
}

.header__nav-link:hover {
  color: var(--light-blue);
}

.header__button-close-burger-menu,
.header__profile-link {
  display: none;
}

.header__burger-menu {
  display: none;
  flex-direction: column;
  width: 50px;
  gap: 10px;
  background: none;
  border: 1px solid var(--dark-blue);
  border-radius: 10px;
  padding: 7px 7px;
}

.header__burger-bar {
  height: 5px;
  background-color: var(--dark-blue);
  border-radius: 20px;
}

.header__profile-pic {
  width: 30px;
}

.header__profile-pic path {
  fill: var(--dark-blue);
  transition: fill 0.2s linear;
}

.header__profile-pic:hover path {
  fill: var(--light-blue);
}

@media (max-width: 860px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
  }

  .header__nav.opened {
    opacity: 1;
    pointer-events: auto;
  }

  .header__button-close-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    padding: 0;
    border: none;
    background: none;
  }

  .header__profile-link {
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-top: 3px double var(--dark-blue);
    padding-top: 20px;
    gap: 30px;
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 20px;
  }

  .header__button-close-burger-menu svg {
    width: 25px;
    height: 25px;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .header__burger-menu {
    display: flex;
  }

  .header__profile-pic-link {
    display: none;
  }
}
