.styled-checkbox {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 11px 0;
  border-radius: 10px;
  cursor: pointer;
}

.styled-checkbox__checkbox {
  display: none;
}

.styled-checkbox__fake-checkbox {
  position: relative;
  border: 2px solid var(--medium-blue);
  width: 16px;
  height: 16px;
  display: inline-block;
}

.styled-checkbox__caption {
  font-size: 15px;
  color: var(--medium-blue);
  transition: color 0.2s linear;
}

.styled-checkbox__caption:hover {
  color: var(--dark-blue);
}

.styled-checkbox__checkbox:checked
  + .styled-checkbox__fake-checkbox-wrapper
  .styled-checkbox__fake-checkbox:before,
.styled-checkbox__checkbox:checked
  + .styled-checkbox__fake-checkbox-wrapper
  .styled-checkbox__fake-checkbox:after {
  content: "";
  position: absolute;
  background-color: var(--dark-blue);
}

.styled-checkbox__checkbox:checked
  + .styled-checkbox__fake-checkbox-wrapper
  .styled-checkbox__fake-checkbox:before {
  width: 3px;
  height: 20px;
  top: -2px;
  left: 12px;
  transform: rotateZ(45deg);
  border-radius: 10px 10px 0 0;
}

.styled-checkbox__checkbox:checked
  + .styled-checkbox__fake-checkbox-wrapper
  .styled-checkbox__fake-checkbox:after {
  top: 10px;
  left: 0px;
  width: 9px;
  height: 3px;
  transform: rotateZ(45deg);
  border-radius: 10px 0 0 10px;
}
