:root {
  --input-float-size: 14px;
}

.float-label {
  display: flex;
  flex-direction: column;
  width: auto;
  position: relative;
}

.float-label__input {
  color: var(--dark-blue);
  width: calc(100% - 16px - 10px - 2px);
  height: 35px;
  padding: 6px 16px 0 10px;
  outline: 0;
  border: 1px solid var(--light-blue);
  border-radius: 20px;
  background: #fff;
  font-family: var(--open-sans);
  font-size: var(--input-float-size);
}

.float-label__label {
  font-size: var(--input-float-size);
  font-family: var(--open-sans);
  padding: 0 12px;
  color: var(--medium-blue);
  opacity: 0.8;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 10px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.float-label__required-marker {
  font-weight: bold;
  color: #f00;
  padding-inline-start: 7px;
}

.float-label:focus-within label,
.float-label .active {
  transform: translate(1px, 6px) scale(0.75);
}
