.header__burger-popup-menu {
  position: fixed;
  background-color: royalblue;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.header__popup-nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-top: 100px;
  align-items: center;
  gap: 30px;
}

.header__close-popup-menu {
  position: absolute;
  background: none;
  border: none;
  right: 106px;
  top: 33px;
}

.header__close-popup-menu:before,
.header__close-popup-menu:after {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 40px;
  background-color: var(--dark-blue);
}

.header__close-popup-menu:before {
  transform: rotateZ(45deg);
}

.header__close-popup-menu:after {
  transform: rotateZ(-45deg);
}

.header__popp-nav-link {
  padding: 17px 37px;
  text-decoration: none;
  color: var(--dark-blue);
  font-size: 36px;
  transition: color 0.3s linear;
}
