.footer {
  background-color: red;
  padding: 15px 35px;
  display: flex;
  align-items: center;
  color: #fff;
}

.footer__logo-and-menu {
  display: flex;
  gap: 20px;
  margin-right: 200px;
  align-items: center;
}

.footer__logo {
  width: 12vw;
}

.footer__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__menu-link {
  color: #fff;
  font-family: var(--montserrat);
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__feedback-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--open-sans);
  flex-grow: 1;
}

.footer__feedback-form-header {
  font-size: 22px;
  font-weight: bold;
}

.footer__form-text-field {
  background: none;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 18px;
  outline: none;
  transition: border-bottom 0.2s linear;
  color: #fff;
}

.footer__form-text-field::placeholder {
  color: #bebebe;
}

.footer__form-text-field:focus {
  border-bottom-color: #fff;
}

.footer__submit-form {
  align-self: flex-start;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  background-color: var(--medium-blue);
  font-size: 16px;
  color: #fff;
  padding: 8px 25px;
  transform: skewX(45deg);
  box-shadow: 15px 0 0 rgba(0, 83, 244, 0.5);
  font-weight: bold;
  margin-left: 17px;
  transition: background-color 0.2s linear;
}

.footer__submit-form:hover {
  background-color: var(--light-blue);
}

.footer__submit-form span {
  transform: skewX(-45deg);
  display: block;
}

@media (max-width: 960px) {
  .footer__logo {
    display: none;
  }

  .footer__feedback-form-header {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .footer__logo-and-menu {
    display: none;
  }

  .footer__feedback-form-header {
    font-size: 16px;
  }

  .footer__submit-form {
    align-self: center;
    margin-left: -9px;
  }

  .footer__form-text-field {
    font-size: 16px;
  }
}
