:root {
  --av-triangle-size: 25px;
  --av-border-width: 2px;
  --av-border-settings: var(--av-border-width) solid var(--light-blue);
}

.av-wrapper {
  display: flex;
  align-items: stretch;
}

.viewer-first-col,
.viewer-third-col {
  display: flex;
  flex-direction: column;
  position: relative;
}

.av-link-go-back {
  border: 2px solid var(--light-blue);
  border-right: none;
  padding: 2px 10px 2px 5px;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  position: absolute;
}

.av-link-prev,
.av-link-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light-blue);
  border-right: none;
  margin: auto 0;
  border-radius: 20px 0 0 20px;
  background-color: #fff;
  padding: 2px 0;
  position: relative;
}

.av-link-next {
  border: 2px solid var(--light-blue);
  border-left: none;
  border-radius: 0 20px 20px 0;
}

.av-link-prev:before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border: var(--av-triangle-size) solid transparent;
  border-right-color: var(--medium-blue);
}

.av-link-next:before {
  content: "";
  position: relative;
  width: 0;
  height: 0;
  border: var(--av-triangle-size) solid transparent;
  border-left-color: var(--medium-blue);
}

.viewer-second-col {
  position: relative;
  border: var(--av-border-settings);
  margin-left: calc(-1 * var(--av-border-width));
  background-color: #fff;
  border-radius: 0 20px 20px 20px;
  padding: 20px 30px;
  font-family: var(--open-sans);
  z-index: 2;
}

.viewer-second-col:before {
  position: absolute;
  content: "";
  --width: 70px;
  --height: calc(var(--width) * 0.649);
  width: var(--width);
  height: var(--height);
  display: block;
  background-image: url("./confetti.webp");
  background-size: contain;
  top: 16px;
  right: 16px;
  opacity: 0.1;
}

.activity-viewer__header {
  font-size: 30px;
  margin-top: 0;
  font-weight: 600;
  width: 75%;
  text-transform: uppercase;
  color: var(--medium-blue);
}

.activity-viewer__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  color: var(--medium-blue);
}

.activity-viewer__description p {
  margin: 0;
}

.activity-viewer__bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.activity-viewer__date {
  position: relative;
  color: var(--light-blue);
  font-size: 18px;
  font-weight: 600;
  text-indent: 0;
}

.activity-viewer__date:after {
  content: "";
  position: relative;
  --width: 280px;
  --height: calc(var(--width) * 0.577);
  display: block;
  width: var(--width);
  height: var(--height);
  background-image: url("./pistol-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  top: -14px;
}

/*-----------------------------------------------------------------*/

.aa {
  display: flex;
  justify-content: center;
}

.activity-viewer {
  background-color: #fff;
  position: relative;
  width: 60%;
  padding: 40px 70px 10vw;
  font-family: var(--open-sans);
  color: var(--medium-blue);
  border-radius: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.activity-viewer.border-around {
  border: var(--activity-viewer-border-around);
}

.activity-viewer__link-send-request,
.activity-viewer__past-activity-caption,
.activity-viewer__link-to-login,
.activity-viewer__avtivity-status {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f00;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

.activity-viewer__link-to-login {
  background-color: var(--medium-blue);
}

.activity-viewer__link-to-login:hover {
  background-color: var(--dark-blue);
}

.activity-viewer__past-activity-caption {
  background-color: #f5f5f5;
  color: #757575;
  border: 3px solid #e0e0e0;
}

.activity-viewer__link-send-request:hover {
  background-color: var(--medium-blue);
}

.activity-viewer__link-go-back {
  --width: 60px;
  position: absolute;
  top: 0;
  width: var(--width);
  border-radius: 50% 0 0 50%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  left: calc(-1 * var(--width));
  transition: background-color 0.2s linear;
}

.activity-viewer__link-go-back.border-around {
  border: var(--activity-viewer-border-around);
  border-right: none;
  top: -3px;
  left: calc(-1 * var(--width) - 3px);
}

.activity-viewer__link-go-back:hover {
  background-color: var(--medium-blue);
}

.activity-viewer__arrow-ico {
  margin-left: 8px;
}

.activity-viewer__arrow-ico path {
  fill: #f00;
}

.activity-viewer__link-go-back:hover path {
  fill: #fff;
}

.activity-viewer__nav-link {
  --width: 57px;

  height: 70px;
  width: var(--width);
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  border: var(--activity-viewer-border-around);
}

.prev {
  border-radius: 20px 0 0 20px;
  left: calc(-1 * var(--width) - 3px);
  border-right: none;
}

.prev:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0%;
  border: var(--triangle-size) solid transparent;
  border-right-color: var(--medium-blue);
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  transition: border-right-color 0.2s linear;
}

.prev:hover:before {
  border-right-color: var(--dark-blue);
}

.next {
  border-radius: 0 20px 20px 0;
  right: calc(-1 * var(--width) - 3px);
  border-left: none;
}

.next:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0%;
  border: var(--triangle-size) solid transparent;
  border-left-color: var(--medium-blue);
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  transition: border-left-color 0.2s linear;
}

.next:hover:before {
  border-left-color: var(--dark-blue);
}

@media (max-width: 1152px) {
  .activity-viewer,
  .activity-viewer__nav-link,
  .activity-viewer__link-go-back {
    background-color: var(--light-grey);
  }

  .activity-viewer:before {
    left: 20px;
    right: initial;
  }

  .activity-viewer__bottom-part {
    flex-direction: column;
  }

  .activity-viewer__date {
    color: var(--light-blue);
    text-indent: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .activity-viewer__date:after {
    display: none;
  }

  .activity-viewer__link-send-request,
  .activity-viewer__past-activity-caption,
  .activity-viewer__link-to-login,
  .activity-viewer__avtivity-status {
    margin: 0 auto;
  }
}

@media (max-width: 760px) {
  .activity-viewer:before {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    right: initial;
    pointer-events: none;
  }

  .activity-viewer__header {
    text-indent: 0;
    font-size: 25px;
    text-align: center;
    width: auto;
  }

  .activity-viewer {
    padding: 20px;
  }

  .activity-viewer__date {
    padding: 5px 15px 5px 20px;
  }

  .activity-viewer__link-go-back {
    background-color: var(--light-grey);
  }

  .activity-viewer__nav-link {
    --width: 30px;
  }

  .activity-viewer__link-go-back {
    --width: 35px;
    left: calc(-1 * var(--width));
  }
}
