:root {
  --border-around: 3px solid var(--light-blue);
}

.activity-viewer {
  background-color: #fff;
  position: relative;
  width: 60%;
  padding: 40px 70px 150px;
  font-family: var(--open-sans);
  color: var(--medium-blue);
  border-radius: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.activity-viewer.border-around {
  border: var(--border-around);
}

.activity-viewer__header {
  font-size: 30px;
  text-indent: 50px;
  margin-top: 0;
  font-weight: 600;
  width: 75%;
}

.activity-viewer__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.activity-viewer__description p {
  margin: 0;
}

.activity-viewer__bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-viewer__date {
  position: relative;
  color: var(--light-blue);
  font-size: 18px;
  font-weight: 600;
  text-indent: 76px;
}

.activity-viewer__date:after,
.activity-viewer:before {
  content: "";
  position: absolute;
  --width: 350px;
  --height: calc(var(--width) * 0.577);
  display: block;
  width: var(--width);
  height: var(--height);
  background-image: url("./pistol-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  top: 8px;
}

.activity-viewer:before {
  --width: 70px;
  --height: calc(var(--width) * 0.649);
  background-image: url("./confetti.webp");
  top: 42px;
  right: 86px;
}

.activity-viewer__link-send-request,
.activity-viewer__past-activity-caption {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f00;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  transition: background-color 0.2s linear;
  margin-bottom: -80px;
}

.activity-viewer__past-activity-caption {
  background-color: #f5f5f5;
  color: #757575;
  border: 3px solid #e0e0e0;
}

.activity-viewer__link-send-request:hover {
  background-color: var(--medium-blue);
}

.activity-viewer__link-go-back {
  --width: 60px;
  position: absolute;
  top: 0;
  width: var(--width);
  border-radius: 50% 0 0 50%;
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  left: calc(-1 * var(--width));
  transition: background-color 0.2s linear;
}

.activity-viewer__link-go-back.border-around {
  border: var(--border-around);
  border-right: none;
  top: -3px;
  left: calc(-1 * var(--width) - 3px);
}

.activity-viewer__link-go-back:hover {
  background-color: var(--medium-blue);
}

.activity-viewer__arrow-ico {
  margin-left: 8px;
}

.activity-viewer__arrow-ico path {
  fill: #f00;
}

.activity-viewer__link-go-back:hover path {
  fill: #fff;
}

.activity-viewer__nav-link {
  --width: 57px;
  --triangle-size: 30px;
  height: 70px;
  width: var(--width);
  position: absolute;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  border: var(--border-around);
}

.prev {
  border-radius: 20px 0 0 20px;
  left: calc(-1 * var(--width) - 3px);
  border-right: none;
}

.prev:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0%;
  border: var(--triangle-size) solid transparent;
  border-right-color: var(--medium-blue);
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  transition: border-right-color 0.2s linear;
}

.prev:hover:before {
  border-right-color: var(--dark-blue);
}

.next {
  border-radius: 0 20px 20px 0;
  right: calc(-1 * var(--width) - 3px);
  border-left: none;
}

.next:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0%;
  border: var(--triangle-size) solid transparent;
  border-left-color: var(--medium-blue);
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  transition: border-left-color 0.2s linear;
}

.next:hover:before {
  border-left-color: var(--dark-blue);
}

@media (max-width: 1152px) {
  .activity-viewer:before {
    left: 20px;
    right: initial;
  }

  .activity-viewer__bottom-part {
    flex-direction: column;
  }

  .activity-viewer__date {
    background-color: var(--light-blue);
    color: #fff;
    text-indent: 0;
    width: 50%;
    margin-left: auto;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 5px 0 5px 20px;
    border-radius: 20px 0 0 20px;
  }

  .activity-viewer__date:after {
    display: none;
  }

  .activity-viewer__link-send-request,
  .activity-viewer__past-activity-caption {
    margin: 0 auto;
  }
}

@media (max-width: 760px) {
  .activity-viewer:before {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    right: initial;
    pointer-events: none;
  }

  .activity-viewer__header {
    text-indent: 0;
    font-size: 25px;
    text-align: center;
    width: auto;
  }

  .activity-viewer {
    padding: 20px;
    background-color: var(--light-grey);
  }

  .activity-viewer__link-go-back {
    background-color: var(--light-grey);
  }

  .activity-viewer__nav-link {
    --width: 30px;
  }

  .activity-viewer__link-go-back {
    --width: 35px;
    left: calc(-1 * var(--width));
  }
}
