.index-news {
  background-image: url("../../../img/index/news/bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -10vw;
  padding: 0 0 50px 10vw;
}

.index-news__header {
  text-transform: uppercase;
  color: #f00;
  font-size: 45px;
  text-align: right;
  margin: 0 14vw 0 0;
}

.index-news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1vw;
}

.index-news__list-item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  width: 600px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.index-news__news-img {
  width: 160px;
}

.index-news__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.index-news__news-header-container {
  display: flex;
  justify-content: space-between;
  color: #f00;
  font-weight: bold;
  font-size: 15px;
}

.index-news__news-header {
  text-transform: uppercase;
  text-decoration: none;
  color: #f00;
  white-space: nowrap;
  width: 350px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 0.2s linear;
}

.index-news__news-header:hover {
  color: var(--medium-blue);
}

.index-news__news-announce {
  color: var(--dark-blue);

  /*Эти строки нужны для того, чтобы текст не превышал двух строк,
а в случае превышения текст обрывался и в конце ставилось многоточие*/
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.index-news__links-more {
  --diameter: 20px;
  width: var(--diameter);
  height: var(--diameter);
  margin-left: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--medium-blue);
  transition: background-color 0.2s linear;
}

.index-news__links-more:hover {
  background-color: var(--dark-blue);
}

.index-news__link-to-all-news {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--medium-blue);
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  overflow: hidden;
}

.index-news__link-to-all-news span {
  position: relative;
}

.index-news__link-to-all-news:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 0;
  background-color: #f00;
  transition: width 0.4s ease-out;
  transform: skewX(-45deg);
}

.index-news__link-to-all-news:hover:before {
  width: 105%;
}

@media (max-width: 1252px) {
  .index-news__list-item {
    background-color: #f1f1f1f5;
    border: 1px solid var(--dark-blue);
  }

  .index-news__header {
    text-align: center;
    margin: 0 0 30px;

    /*Эти строки нужны для того, чтобы текст не превышал двух строк,
    а в случае превышения текст обрывался и в конце ставилось многоточие*/
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .index-news {
    padding: 0 0 50px;
  }

  .index-news__list {
    width: 80vw;
    margin: 0 auto 30px;
  }

  .index-news__list-item {
    width: auto;
  }

  .index-news__links-more {
    display: none;
  }

  .index-news__link-to-all-news {
    margin: 0 auto;
    width: 50vw;
  }

  .index-news__news-header-container {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .index-news__news-header {
    white-space: normal;
    width: auto;
    text-overflow: initial;
    overflow: auto;
    transition: color 0.2s linear;
  }

  .index-news__news-img {
    width: 18vw;
  }
}
