.index-news {
  background-image: url("../../../img/index/news/bg.webp");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0;
  padding-left: 150px;
}

.index-news__header {
  text-transform: uppercase;
  color: #f00;
  font-size: 45px;
  text-align: right;
  margin-right: 100px;
}

.index-news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
