.message-block-wrapper {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 0 4px 4px 0;
  font-weight: 600;
  /*  line-height: 1.6;*/
}

.mbt-error,
.mbt-success,
.mbt-notification {
  --bg: var(--mbt-error-bg);
  --text: var(--mbt-error-text);
  background-color: var(--bg);
  color: var(--text);
  border-left: 4px solid var(--text);
}

.mbt-success {
  --bg: var(--mbt-success-bg);
  --text: var(--mbt-success-text);
}

.mbt-notification {
  --bg: var(--mbt-notification-bg);
  --text: var(--mbt-notification-text);
}

.message-block-wrapper a {
  color: inherit;
}
