@import "fonts.css";
@import "vars.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--montserrat);
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.main {
  flex: auto;
}
