:root {
  --open-sans: "Open Sans Condensed", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  --dark-blue: #0c00ad;
  --medium-blue: #0053f4;
  --light-blue: #00bbff;
  --light-grey: #f1f1f1;

  --status-no-status-bg: #1c1c1c;
  --status-no-status-text: #fff;
  --status-approved-bg: #d0ffb2;
  --status-approved-text: #51bb00;
  --status-declined-bg: #ffb2b2;
  --status-declined-text: #bb0000;
  --status-pending-bg: #fff9b2;
  --status-pending-text: #bbb500;
  --status-avaible-bg: #f00;
  --status-avaible-text: #fff;
}
