:root {
  --open-sans: "Open Sans Condensed", sans-serif;
  --montserrat: "Montserrat", sans-serif;

  --dark-blue: #0c00ad;
  --medium-blue: #0053f4;
  --light-blue: #00bbff;
  --light-grey: #f1f1f1;

  --status-no-status-bg: #1c1c1c;
  --status-no-status-text: #fff;
  --status-approved-bg: #d0ffb2;
  --status-approved-text: #51bb00;
  --status-declined-bg: #ffb2b2;
  --status-declined-text: #bb0000;
  --status-pending-bg: #fff9b2;
  --status-pending-text: #bbb500;
  --status-avaible-bg: var(--light-blue);
  --status-avaible-text: #fff;

  --mbt-success-bg: var(--status-approved-bg);
  --mbt-success-text: var(--status-approved-text);
  --mbt-error-bg: var(--status-declined-bg);
  --mbt-error-text: var(--status-declined-text);

  --expired-activity-bg: #e6e6e6;
  --expired-activity-text: #9f9f9f;
}
