:root {
  --cabinet-slider-content-height: 30vw;
  --cabinet-menu-width: 280px;
}

.cabinet-slider {
  width: calc(90vw - var(--cabinet-menu-width));
  margin: 0 auto;
  height: var(--cabinet-slider-content-height);
  margin-bottom: 30px;
  border-radius: 20px;
  font-family: var(--open-sans);
}

.cabinet-slider__header {
  color: var(--medium-blue);
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  text-transform: uppercase;
}

.cabinet-slider__slide {
  position: relative;
  overflow: hidden;
  cursor: grab;
  text-align: center;
}

.cabinet-slider__slide:active {
  cursor: grabbing;
}

.cabinet-slider__image-bg,
.cabinet-slider__video-bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.cabinet-slider__image-bg {
  transform: scale(4);
  filter: blur(25px);
}

.cabinet-slider__video-bg {
  background-color: #000;
}

.cabinet-slider__picture,
.cabinet-slider__video {
  position: relative;
  max-width: 100%;
  height: var(--cabinet-slider-content-height);
  border-radius: 20px;
  z-index: 2;
}

.cabinet-slider__button-unlike {
  position: absolute;
  background-color: var(--light-grey);
  padding: 3px;
  right: 5px;
  top: 5px;
  border: none;
  z-index: 1;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabinet-slider__cross-ico {
  width: 25px;
  height: 25px;
}

.custom-navigation.cabinet-slider-nav {
  position: relative;
  z-index: 2;
}

.custom-navigation.cabinet-slider-nav .cabinet-slider__prev,
.custom-navigation.cabinet-slider-nav .cabinet-slider__next {
  position: absolute;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  background-color: var(--light-grey);
  border: none;
  bottom: 15vw;
}

.custom-navigation.cabinet-slider-nav .cabinet-slider__prev {
  border-radius: 0 10px 10px 0;
}

.custom-navigation.cabinet-slider-nav .cabinet-slider__next {
  border-radius: 10px 0 0 10px;
  right: 0;
}

.custom-navigation.cabinet-slider-nav .cabinet-slider__prev:after,
.custom-navigation.cabinet-slider-nav .cabinet-slider__next:after {
  content: "";
  position: absolute;
  width: 37px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../../../svg/arrow.svg");
}

.custom-navigation.cabinet-slider-nav .cabinet-slider__next:after {
  transform: translate(-50%, -50%) scaleX(-1);
}

@media (max-width: 1280px) {
  :root {
    --cabinet-slider-content-height: 33vw;
  }

  /*  .custom-navigation.cabinet-slider-nav .cabinet-slider__prev,
  .custom-navigation.cabinet-slider-nav .cabinet-slider__next {
    bottom: 24vw;
  }*/
}

@media (max-width: 960px) {
  :root {
    --cabinet-slider-content-height: 35vw;
  }
}

@media (max-width: 860px) {
  :root {
    --cabinet-slider-content-height: 35vw;
  }

  .cabinet-slider {
    width: 90vw;
  }

  .custom-navigation.cabinet-slider-nav .cabinet-slider__prev,
  .custom-navigation.cabinet-slider-nav .cabinet-slider__next {
    --size: 35px;
    bottom: 19vw;
  }
}
