.monthes-spinner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.monthes-spinner__prev,
.monthes-spinner__next {
  border: none;
  padding: 0;
  font-family: var(--open-sans);
  background: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
  color: inherit;
}

.monthes-spinner__current {
  font-size: 30px;
}
